
.container {
  width: 100vw;
  
  
  
}
body{
  background-repeat: no-repeat;
  background-size: 100%; 
  width: 100vw; 
  height: 80vw; 
  margin-top: 25px;
}
background{
  width: 50vw
}
.header{
 padding-top: 40px;
  text-align: center;
  font-size: 30px;
  color: blue;
   
  
}
.gameStats{
  text-align: center;
  color: blue;
}
#remainingGuesses{
  text-align: center;
  color: blue;
}
#dashes{
  text-align: center;
  color: red;
  font-weight: bolder;
  background: yellow;
  width:auto;
}
#guesses{
  text-align: center;
  color: blue;
  font: 14px;
}
.letters{
  text-align: center;
  color: blue;
}


#user-text{
  text-align: center;
  font-size: 20px;
  color: red;
}
#player-info{
  text-align: center;
  font-size: 20px;
  color: blue;
}

.wins{
  color: blue;
  font-size: 18px;
  font-weight: bold;
 
}

#correct-answer{
  text-align: center;
  color: red;
  font-size: 18px;
  font-weight: bold;
  
}


