
.container {
  width: 90vw;
  background-color:lightgoldenrodyellow;
  
  
  
}
body{
  background-repeat: no-repeat;
}
background{
  width: 100vw
}
.header{
  text-align: center;
}
.gameStats{
  text-align: right;
}
#remainingGuesses{
  text-align: right;
}
#dashes{
  text-align: right;
}
#guesses{
  text-align: right;
}
.letters{
  text-align: right;
}


/* .header {
  text-align: center;
  height: 55px;
  background-color: lavender;
}
.left-box{
  width: 40vw;
  background-color:blueviolet;
  height: 40vh;
  margin-top: 25px;
}
.right-box{
  background-color: red;
  height: 40vh;
  margin-top:25px;
}
#directions{
  padding-top:20px;
  text-align:center;
}
#dashes span{
  display:inline-block;
  margin:5px;
  font-size: 2em;
}
.stat{
  text-align: right;
  background-color: red;
}
#user-text{
  margin-left: 15px;
} */
